<div class="container">
  <h1>Restaurant Listing</h1>
    <ul>
      <% @restaurants.each do |restaurant| %>
        <li><%= link_to "#{restaurant.name} - #{restaurant.category}", restaurant %></li>
      <% end %>
    </ul>
</div>

